/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*animation css*/

/*Hover nav link animation*/

.nav-link-hover-primary {
    position: relative;
}


.nav-link-hover-primary:hover::after {
    content: "";
    display: block;
    width: 80%;
    height: 5px;
    background-color: var(--primary);
    position: absolute;
    top: 2.3rem;
    left: .5rem;
    -webkit-animation:  scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* hover nav icon animation*/

.nav-item-icon {
    width: 40px;
    padding: .1rem;
}

.nav-item-icon a i {
    width: 18px;
    height: 18px;
    display: block;
    margin: 0 auto;
}

.nav-icon-hover:hover {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: solid 1px var(--primary);
    position: relative;
}

/*L'icone n'est pas centré*/
.icon-link-left-ajust {
    padding-left: 1px;
}


@-webkit-keyframes scale-in-left {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        opacity: 1;
    }
}
@keyframes scale-in-left {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 0% 50%;
        transform-origin: 0% 50%;
        opacity: 1;
    }
}

/*Up and down button*/

.slide-out-bottom:hover {
    -webkit-animation: slide-out-bottom 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2 ;
    animation: slide-out-bottom 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 2 ;
}

@-webkit-keyframes slide-out-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0.9;
    }
    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
        opacity: 0;
    }
}
@keyframes slide-out-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 0.9;
    }
    50% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: translateY(7px);
        transform: translateY(7px);
        opacity: 0;
    }
}

/*Stars*/

.stars_section {
    position: fixed;
    top: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

b{
    border-radius:50%;
    pointer-events:none;
    position:absolute;
    background: -webkit-gradient(linear, left top, left bottom, from(#cdb6ea), to(#F1f1f1));
    background: -o-linear-gradient(#cdb6ea, #F1f1f1);
    background: linear-gradient(#cdb6ea, #F1f1f1);
    -webkit-animation: stars 4s linear 400;
    animation: stars 4s linear 400;
    z-index: -3;
}

.stars {
    -webkit-animation: stars 4s linear infinite;
    animation: stars 4s linear infinite;
}

@-webkit-keyframes stars{
    0%{
        -webkit-transform:scale(0) translateX(0) rotate(0deg);
        transform:scale(0) translateX(0) rotate(0deg);
        opacity:0;
    }
    10%{
        opacity:0.8;
    }
    90%{
        opacity:0.9;
    }
    100%{
        -webkit-transform:scale(1) translateX(-400%) rotate(360deg);
        transform:scale(1) translateX(-400%) rotate(360deg);
        opacity:0;
    }
}

@keyframes stars{
    0%{
        -webkit-transform:scale(0) translateX(0) rotate(0deg);
        transform:scale(0) translateX(0) rotate(0deg);
        opacity:0;
    }
    10%{
        opacity:0.8;
    }
    90%{
        opacity:0.9;
    }
    100%{
        -webkit-transform:scale(1) translateX(-400%) rotate(360deg);
        transform:scale(1) translateX(-400%) rotate(360deg);
        opacity:0;
    }
}