/* les socials*/

.socials_bar {
    position: sticky;
    margin: 0;
    top: 0;
    left: 0;
    z-index: 1000;
    width: fit-content;
    height: 0; /*permet de ne pas rajouter d'espace*/
}

@media (max-width: 560px) {
    .socials_bar {
        display: none;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.wrapper .icon-container {
    position: relative;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 5px 15px -5px rgb(0 0 0 / 10%);
    cursor: pointer;
    font-size: 27px;
    text-decoration: none;
    opacity: 0.99;
    overflow: hidden;
}

.wrapper .icon-container::before {
    content: "";
    width: 120%;
    height: 120%;
    position: absolute;
    top: 90%;
    left: -110%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    z-index: 1;
}

.wrapper .icon-container .icon {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
    z-index: 2;
    color: white;
}

.wrapper .icon-container.instagram {
    background: linear-gradient(#de127e, #fda62f);
}

.wrapper .icon-container.twitter {
    background: linear-gradient(#5da9dd, #2fa7fd);
}

.wrapper .icon-container.gmail {
    background: linear-gradient(#f1492d, #c72b10);
}

.wrapper .icon-container.github {
    background: linear-gradient(#31303a, #1b1f23);
}

.wrapper .icon-container.linkedin {
    background: linear-gradient(#0077b5, #004b6e);
}

.wrapper .icon-container:hover .icon {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.wrapper .icon-container.instagram:hover .icon{
    color: #de127e;
}

.wrapper .icon-container.twitter:hover .icon{
    color: #5da9dd;
}

.wrapper .icon-container.gmail:hover .icon{
    color: #fe0108;
}

.wrapper .icon-container.github:hover .icon{
    color: #1b1f23;
}

.wrapper .icon-container.linkedin:hover .icon{
    color: #0077b5;
}

.wrapper .icon-container:hover::before{
    top: -10%;
    left: -10%;
    background-color: white;
}



@media screen and (max-width: 768px) {
    .wrapper .icon-container {
        width: 45px;
        height: 45px;
        margin: 5px;
        font-size: 18px;
    }
}
